body {
  font-family: "B612", "shabnam";
}
.img-logo {
  background-color: whitesmoke;
  display: inline;
  margin: auto 1% auto 0;
}
nav {
  background-color: hsl(208, 98%, 31%);
  display: flex;
  justify-content: space-between;
  color: white;
  height: 70px;
}
ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: hsl(194, 70%, 72%);
}
.fa-bars {
  margin: auto 0 auto 1%;
}
.left-side {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.take-half {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  justify-content: space-evenly;
}
.right-side {
  background-color: hsl(0, 0%, 96%);
}
main {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 90px);
}
.boxes-container {
  color: hsl(0, 100%, 99%);
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.yellow {
  background-color: hsl(54, 100%, 50%);
}
.green {
  background-color: hsl(118, 100%, 37%);
}
.blue {
  background-color: hsl(179, 91%, 51%);
}
.red {
  background-color: hsl(1, 100%, 45%);
}
.yellow > p {
  background-color: hsl(54, 90%, 40%);
}
.green > p {
  background-color: hsl(118, 90%, 27%);
}
.blue > p {
  background-color: hsl(179, 81%, 41%);
}
.red > p {
  background-color: hsl(1, 90%, 35%);
}
.box {
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box > p {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  text-transform: capitalize;
}
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-big {
  height: 240px;
  width: auto;
}
table {
  border-collapse: collapse;
  width: 96%;
  margin: 2%;
}
td,
th {
  border: 1px solid hsl(0, 0%, 87%);
  padding: 8px;
}
tr:nth-child(even) {
  background-color: hsl(0, 0%, 87%);
}
.form-group {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
}

.form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #9b9b9b;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form-field::placeholder {
  color: transparent;
}
.form-field:placeholder-shown ~ .form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form-field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form-field:required,
.form-field:invalid {
  box-shadow: none;
}
button {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0c5;

  font-size: 24px;
  font-weight: 300;

  width: 220px;
  height: 50px;

  background: #0d6;
  border: 1px solid #0d6;
  color: #fff;
  overflow: hidden;
  margin: 1em;
  transition: all 0.5s;
}
button:hover,
button:active {
  color: #0c5;
  border-color: #0c5;
  background: #fff;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.fa-button {
  font-size: 10px;
  margin: 1px;
  height: 30px;
  width: 30px;
}
@media only screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  table {
    margin: 0;
  }
  .take-half {
    width: 100vw;
    height: 100vh;
  }
  main {
    top: 60px;
    position: absolute;
    flex-direction: column;
    height: auto;
  }
}
