body {
  font-family: "B612", "shabnam";
}
.img-logo {
  background-color: whitesmoke;
  display: inline;
  margin: auto 1% auto 0;
}
nav {
  background-color: hsl(208, 98%, 31%);
  display: flex;
  justify-content: space-between;
  color: white;
  height: 70px;
}
ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: hsl(194, 70%, 72%);
}
.fa-bars {
  margin: auto 0 auto 1%;
}
.left-side {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.take-half {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  justify-content: space-evenly;
}
.right-side {
  background-color: hsl(0, 0%, 96%);
}
main {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 90px);
}
.boxes-container {
  color: hsl(0, 100%, 99%);
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.yellow {
  background-color: hsl(54, 100%, 50%);
}
.green {
  background-color: hsl(118, 100%, 37%);
}
.blue {
  background-color: hsl(179, 91%, 51%);
}
.red {
  background-color: hsl(1, 100%, 45%);
}
.yellow > p {
  background-color: hsl(54, 90%, 40%);
}
.green > p {
  background-color: hsl(118, 90%, 27%);
}
.blue > p {
  background-color: hsl(179, 81%, 41%);
}
.red > p {
  background-color: hsl(1, 90%, 35%);
}
.box {
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box > p {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
}
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-big {
  height: 240px;
  width: auto;
}
table {
  border-collapse: collapse;
  width: 96%;
  margin: 2%;
}
td,
th {
  border: 1px solid hsl(0, 0%, 87%);
  padding: 8px;
}
tr:nth-child(even) {
  background-color: hsl(0, 0%, 87%);
}
